<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/estilo.css">
    <link rel="stylesheet" href="/CSS/geral.css">
    <title>Aula de NodeJS no back-end</title>
</head>
<body>
    <header>
        <img src="/IMG/senai3.png" alt="logo">
        <h1>CRUD com NodeJs</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="inserir">Inserir</a>
        <a href="select">Listar</a>
        <a href="sobre">Sobre</a>
    </nav>

    {{{body}}}

</body>
</html>