

    <div class="divmae">
        <div class="divmeio">
            <h2>
                <p class="texto">Aula do Sidoka barril!!</p>
                <p class="texto">Aplicação Web (Crud básico)<p>
                <p class="texto">Foi criada com NodeJS usada para apresentar o funcionamento de um sistema web</p> 
                <p class="texto">Back-end e banco de dados);</p>
        
            </h2>


        </div>
    </div>






